# R bullshit
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
.ds
ds/
env/
venv/
ENV/
ds.bak/
env.bak/
venv.bak/

# tests
workflow.py
model/ipynb_checkpoints
model/__pycache__